{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>Question 1: SAILING SHIPS</h1>
  <h3>
    One advantage of using a kite sail is that it flies at a height of 150 m. There, the wind
    speed is approximately 25% higher than down on the deck of the ship.
    <br>
    <br>
    At what approximate speed does the wind blow into a kite sail when a wind speed of
    24 km/h is measured on the deck of the ship?
  </h3>

  {% load static %}
  <img src="{% static '/img/4.png' %}" alt="Ship with a skysail" style="height:100%;width:100%">

</div>

<br>
<br>

  <div class="container">
    <h4>Drag the percentages below to match the corresponding brackets</h4>
    <div class="empty">
      <div  class="fill" id = "d3" draggable="true"></div>
    </div>
    <div class="empty">
      <div class="fill" id = "d1"  draggable="true"></div>
    </div>
    <div class="empty">
      <div class="fill" id = "d2" draggable="true"></div>
    </div>
    <div class="bar1" draggable="false"></div>
    <div class="container">
      <div class="empty"></div>
      <div class="empty"></div>
    </div>
    <div class="bar2" draggable="false"></div>
    <div class="empty"></div>
  </div>
{% endblock content %}


{% block sidebar %}

<h3>Followup Questions</h3>
    <p class='text-muted'>
<!--      <ul class="list-group">-->
<!--      </ul>-->

        <form action="/action_page.php">
          {% for f in followups %}
          <label for="fname"> {{ f }} </label><br>
          <input type="text" id="fname" name="fname" value=""><br>
          {% endfor %}
          <input type="submit" value="Submit">
        </form>


<!--        <button type="button" onclick="alert('Hello world!')">Confirm</button>-->
<!--        <button type="button" onclick="alert('Hello world!')">Cancel</button>-->
    </p>

{% endblock sidebar %}