{% extends "base.html" %}
{% block content %}


<div class="container">
  <h3>
<!--    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis, lectus sit amet aliquam dignissim,-->
<!--    justo ante auctor felis, eget sagittis mi risus vel purus. Proin consequat ipsum et nunc iaculis, vitae rhoncus-->
<!--    felis efficitur. Aenean efficitur neque et ornare mollis. Vivamus efficitur mollis quam, vel pellentesque diam-->
<!--    mattis a. Nulla consectetur sem nec ornare viverra. Nam laoreet lorem at malesuada volutpat. Etiam sit amet-->
<!--    accumsan lectus. In hac habitasse platea dictumst. Quisque vitae lectus enim.-->
<!--    Integer feugiat ipsum vel nisl gravida sagittis-->
      {{ intro }}
  </h3>

  {% load static %}
  <img src="{% static '/img/mathayog_ship.png' %}" alt="Ship with a skysail">

</div>

<br>
<br>

<div class="container">
  <h4>Drag the percentages below to match the corresponding brackets</h4>
  <div class="empty">
    <div  class="fill" id = "d3" draggable="true"></div>
  </div>
  <div class="empty">
    <div class="fill" id = "d1"  draggable="true"></div>
  </div>
  <div class="empty">
    <div class="fill" id = "d2" draggable="true"></div>
  </div>
  <div class="bar1" draggable="false"></div>
  <div class="container">
    <div class="empty"></div>
    <div class="empty"></div>
  </div>
  <div class="bar2" draggable="false"></div>
  <div class="empty"></div>
</div>

{% endblock content %}


{% block sidebar %}

    <h3>Teacher Feedback</h3>
    <p class='text-muted'>
<!--      <ul class="list-group">-->
<!--      </ul>-->

        {% for f in feedbacks %}
            <input type="radio" id="male" name="gender" value="male">
        <label for="male">{{ f }}</label><br>
        {% endfor %}

        <button type="button" onclick="alert('Hello world!')">Confirm</button>
        <button type="button" onclick="alert('Hello world!')">Cancel</button>
    </p>

{% endblock sidebar %}